{% extends news_app/base.html%}
{% block content %}
<div class="big-card">
    <h2>SpaceX tests its first starship prototype</h2>
    <h4>elon musk said its breakthrough in mars travel</h4>
    <img src="starship.jpeg">
    <p class="date">01/11/2020, The Hindu</p>
    
    <p class="description">Do in dolor culpa excepteur excepteur ea nulla aliqua ea. Consectetur fugiat do commodo magna reprehenderit cillum Lorem ad incididunt occaecat ea sint qui ipsum. Enim exercitation exercitation amet aute aute adipisicing veniam.</p>
    
    <p class="description">Velit ea est fugiat eu cupidatat. Proident in nulla sit anim in elit consectetur qui Lorem amet sit labore. Aliquip est anim aliquip enim ad commodo. Pariatur irure ad ut ex deserunt eiusmod aute ad. Nostrud eu sint mollit ex excepteur Lorem fugiat sit qui consequat. Excepteur excepteur ipsum incididunt duis nostrud occaecat elit pariatur sunt deserunt anim.</p>
    
    </div>


{% endblock content %}